<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<%- include ('partials/head.ejs'); -%>
</head>
<body>
	<div class="container">
        <header>
            <%- include ('partials/header.ejs'); -%>
        </header>
		<h1>Ajouter</h1>
		<form action="/add" method="POST">
			<div class="form-group">
				<label for="title">Nom</label>
				<input 
					type="text" 
					class="form-control" 
					id="title" 
					name="title"
					placeholder="Entrez votre nom..."
				/>
			</div>
			<div class="form-group">
				<label for="Classe">Classe</label>
				<select id="classe" class="form-control" name="classe">
					<option selected>Choisissez...</option>
					<option value="2B">2B</option>
					<option value="2V">2V</option>
					<option value="2R">2R</option>
				</select>
			</div>
			<button type="submit" class="btn btn-info">sauvegarder</button>
		</form >
    </div>
    <footer>
		<%- include ('partials/footer.ejs'); -%>
	</footer>
</body>
</html>