<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <%- include ('partials/head.ejs'); -%>
      <script src=//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js></script>
      <script src=//cloud.tinymce.com/stable/tinymce.min.js></script>
      <script>
         $(document).ready(function() {
             tinymce.init({
               selector: "textarea",
               theme: "modern",
               paste_data_images: true,
               plugins: [
                 " autolink lists  image    preview  ",
                 "    code ",
                 "   textcolor  "
               ],
               toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
               toolbar2: " preview   ",
               image_advtab: true,
               file_picker_callback: function(callback, value, meta) {
                 if (meta.filetype == 'image') {
                   $('#upload').trigger('click');
                   $('#upload').on('change', function() {
                     var file = this.files[0];
                     var reader = new FileReader();
                     reader.onload = function(e) {
                       callback(e.target.result, {
                         alt: ''
                       });
                     };
                     reader.readAsDataURL(file);
                   });
                 }
               },
               
             });
           });
     </script>
   </head>
   <body>
      <div class="container">
         <header>
            <%- include ('partials/header.ejs', {username : username }); -%>
         </header>
         <h1>Ajouter</h1>
         <form action="/create" method="POST">
            <div class="form-group">
               <label for="Title">Titre</label>
               <input 
                  type="text" 
                  class="form-control" 
                  id="Title" 
                  name="Title"
                  placeholder="Entrez votre titre..."
                  required
                  />
            </div>
            <div class="form-group">
               <div class="form-group">
                  <label for="Content">Contenu</label>
                  <textarea required class="form-control" id="Content" name='Content'rows="3"></textarea>
                  <input name=image type=file id="upload" onchange="" style="display:none;">
                 
                 
               </div>
            </div>
            <button type="submit" class="btn btn-info">sauvegarder</button>
         </form >
      </div>
      <footer>
         <%- include ('partials/footer.ejs'); -%>
      </footer>
   </body>
</html>
