<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include ('partials/head.ejs'); -%>
      <header>
         <%- include ('partials/header.ejs'); -%>
      </header>
   </head>
   <body class="container">
      <main>
         <div class="jumbotron">
            <h1>Site de Mahé et Clément</h1>
            <p>Développé avec NodeJS, expressJS et Ejs</p>
         </div>
      </main>
      <footer>
         <%- include ('partials/footer.ejs'); -%>
      </footer>
   </body>
</html>